<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
       Simple Map
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Oci's Map</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>Pilihan Basemap : </ion-label>
    <ion-select [(ngModel)]="selectedBasemap" (ionChange)="changeBasemap(selectedBasemap)">
      <ion-select-option *ngFor="let basemap of basemapOptions" [value]="basemap">
        {{ basemap }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

  <ion-item>
    <ion-label>Koordinat saat ini: {{ latitude }}, {{longitude}}</ion-label>
  </ion-item>
  <!-- <ion-item>
    <ion-label>Current Longitude: {{ longitude }}</ion-label>
  </ion-item> -->

  <ion-button (click)="changeBasemap(selectedBasemap)">
    Basemap saat ini: {{ selectedBasemap }}
  </ion-button>
</ion-content>
